<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <h2>
        Basic info:
      </h2>
      <ul>
        <li>
          <b>E-mail: </b>
          <%= @user.email %>
        </li>
        <li>
          <b>Date of birth:</b>
          <%= @user.date_of_birth %>
        </li>
        <li>
          <b>Short bio:</b>
          <%= @user.bio %>
        </li>      
        <li>
          <%= if @user.has_muggle_relatives then "Has muggle relatives" else "Doesn't have muggle relatives" end %>
        </li>  
        <li>
          <b>House:</b>
          <%= @user.house %>
        </li>
      </ul>    
      <% if current_user.admin? || current_user?(@user) %>
        <%= link_to "Edit profile", edit_user_path(@user), class: 'btn btn-primary' %>
      <% end %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.spells.any? %>
      <h3>Spells (<%= @user.spells.count %>)</h3>
      <ol class="spells">
        <%= render @spells %>
      </ol>
      <%= will_paginate @spells %>
    <% end %>
  </div>
</div>