<li id="spell-<%= spell.id %>">
  <%= link_to gravatar_for(spell.user, size: 50), spell.user %>
  <span class="user"><%= link_to spell.user.name, spell.user %></span>
  <span class="content">
    <%= spell.content %>
    <%= image_tag spell.display_image if spell.image.attached? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(spell.created_at) %> ago.
    <% if current_user?(spell.user) %>
      <%= link_to "delete", spell, method: :delete, 
                                   data: { confirm: "You sure?" } %>
    <% end %>
    <% if current_user.admin? %>
    | 
<%= link_to "edit", edit_spell_path(spell), { 'data-toggle' =>  "modal", 'data-target' => "#spell-form-edit" }  %>
  

    <% end %>
  </span>
</li>


<div id="spell-form-edit" class="modal fade">
  <div class="modal-dialog modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Edit spell</h3>
    </div>
    <div class="modal-body"></div>
  </div>
</div>